---
layout: page
# individual pages for each gallery
captions:
  nature:
    cloud-breath.jpg: "&#8220;A Blue Dragon Breathing Cloud&#8221;"
    el-capitan.jpg: "El Capitan in Yosemite National Park"
    green-tea-kitkat.jpg: "&#8220;Green Tea Kitkats&#8221;"
    may-lake.jpg: "May Lake in Yosemite National Park"
    pacific-sunset.jpg: "&#8220;The Last Sunset in 2012&#8221;: The last sunset of 2012 on California State Route 1"
    sand-harbor.jpg: "Sand Harbor in Lake Tahoe"
    the-vip-seat.jpg: "&#8220;The VIP Seat&#8221;"
    untitled-beebe-lake.jpg: "Beebe Lake in Ithaca"
    untitled-half-dome-glacier-point.jpg: "Half Dome from Glacier Point in Yosemite National Park"
    untitled-half-dome.jpg: "Half Dome in Yosemite National Park"
    untitled-in-tuolumne-meadows.jpg: "Tuolumne Meadows in Yosemite National Park"
    untitled-valley-of-fire-state-park.jpg: "Valley of Fire State Park"
  cityscape:
    a-ship.jpg: "A Retired Ship in Yokohama Harbor"
    all-nighter.jpg: "&#8220;All Nighter&#8221;: You think you're the only one who had an all nighter?"
    fireworks-baltimore-inner-harbor-composite.jpg: "July 4th Celebration 2012 in Baltimore"
    hero-in-the-spotlights.jpg: "&#8220;Hero in the Spotlights&#8221;: The great player's statue has been installed at the perfect spot."
    homage.jpg: "&#8220;The Homage&#8221;"
    lights-xylophone.jpg: "&#8220;Colorful Xylophone Created by Lights&#8221;"
    rogers-looking-down.jpg: "&#8220;Rogers Center Looking Down the Ball Game&#8221;"
    san-diego-nightscape.jpg: "Night View in San Diego"
    san-francisco-skyline.jpg: "San Francisco's Skyline from Treasure Island"
    straight-curves-and-flat-convex.jpg: "&#8220;Straight Curves and Flat Convex&#8221;"
    the-rhythm-of-reflections.jpg: "&#8220;The Rhythm of Reflections&#8221;"
    brooklyn-bridge.jpg: "Brooklyn Bridge"
    fireworks-manhattan.jpg: "&#8220;July 4th Celebration 2019 in Manhattan&#8221;"
    untitled-fells-point.jpg: "Untitled"
    untitled-taj-mahal.jpg: "Untitled"
    untitled-vancouver.jpg: "Untitled"
    untitled-yokohama-harbor.jpg: "Untitled"
    manhattan-skyline.jpg: "Manhattan's Skyline with Queensboro Bridge"
    wake-up.jpg: "&#8220;Wake Up Sleeper&#8221;"
    western-and-eastern.jpg: "&#8220;Western and Eastern&#8221;: Westerners shake hands and Asians (with conical hats) bow to greet each other"
  animals:
    a-lesser-panda-is-not-a-panda.jpg: "&#8220;A Lesser Panda is Not a Panda&#8221;"
    a-raccoon-is-not-a-raccoon.jpg: "&#8220;A Raccoon is not a Raccoon&#8221;"
    bambi.jpg: "&#8220;Bambi&#8221;"
    celebrity-fish.jpg: "&#8220;Celebrity Fish&#8221;"
    eye-of-the-tiger.jpg: "&#8220;Eye of the Tiger&#8221;"
    hydration.jpg: "&#8220;Hydration In and Out&#8221;"
    iglooesque.jpg: "&#8220;Iglooesque&#8221;"
    mobidick.jpg: "&#8220;Mobidick&#8221;"
    otter-on-the-water.jpg: "&#8220;A Tongue Twister: Otter on the Water&#8221;"
    sunlight-turtle-shell.jpg: "&#8220;Turtle Shell Created by the Sunlight&#8221;"
    the-bear-necessities.jpg: "&#8220;The Bear Necessities&#8221;"
    the-persistence-of-laziness.jpg: "&#8220;The Persistence of Laziness&#8221;"
    the-predator.jpg: "&#8220;The Predator&#8221;"
    under-the-sea.jpg: "&#8220;Under the Sea&#8221;"
    untitled-pelicans-in-sync.jpg: "Untitled"
    untitled-stellers-jay.jpg: "Untitled"
  astrophotography:
    milky-way-summer-2.png: "Milky Way in Summer 2: with Jupiter, Saturn, Omega Nebula, Eagle Nebula, and M24"
    andromeda_galaxy.jpg: "Andromeda Galaxy"
    chase-on-campus.jpg: "&#8220;Chase on Campus&#8221;"
    clocks.jpg: "&#8220;Clocks&#8221;"
    great-orion-nebula.jpg: "&#8220;Great Orion Nebula&#8221;"
    hunter-at-a-lakeshore.jpg: "&#8220;The Hunter at a Lakeshore&#8221;"
    hunter-in-a-mountain.jpg: "&#8220;The Hunter in a Mountain&#8221;"
    milky-way-fall.jpg: "Milky Way in Fall"
    milky-way-summer.jpg: "Milky Way in Summer"
    oski-ursa.jpg: "&#8220;Oski and Ursa&#8221;"
    scooping-lake.jpg: "&#8220;Scooping Water from Lake Tahoe&#8221;"
    solar-eclipse-2017.jpg: "Solar Eclipse 2017"
    the-city-that-never-sleeps.jpg: "&#8220;The City that Never Sleeps&#8221;"
    untitled-full-moon.jpg: "Untitled"
    untitled-jupiter-moons.jpg: "Untitled"
  sports:
    23-on-23.jpg: "&#8220;23 on 23&#8221;"
    future-mvp.jpg: "&#8220;Future MVP&#8221;"
    halladay-legend-on-legend.jpg: "&#8220;Halladay: Legend on Legend&#8221;"
    ichiro-legend-on-legend.jpg: "&#8220;Ichiro: Legend on Legend&#8221;"
    lim-nevalose.jpg: "&#8220;Nevalose&#8221;"
    mr-consistency.jpg: "&#8220;Mr. Consistency&#8221;"
    posey-offday.jpg: "&#8220;Offday&#8221;"
    romo-save-us.jpg: "&#8220;Save Us&#8221;"
    ryu-pitching-mechanism.jpg: "&#8220;The Monster&#8221;"
    scutaro-safe.jpg: "&#8220;Not in Time&#8221;"
    the-phenom.jpg: "&#8220;The Phenom&#8221;"
    true-slugger.jpg: "&#8220;The True Slugger&#8221;"
    votto-trot.jpg: "&#8220;Votto Trot&#8221;"
  miscellaneous:
    festival-in-blue.jpg: "&#8220;Festival in Blue&#8221;"
    retirement.jpg: "&#8220;Retirement&#8221;"
    the-audible-fever-jason-mraz.jpg: "&#8220;The Audible Fever&#8221;"
    the-harmony-mraz-band.jpg: "&#8220;The Harmony&#8221;"
    the-talented-passion-christina-perry.jpg: "&#8220;The Talented Passion&#8221;"
---

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/magnific-popup.css">

<style>
  /* To avoid the overlap */
  .mfp-title {
    margin-top: 1.4rem;
  }
</style>

{% assign thumbnailPath = page.path | remove: "/index.html" | append: "/thumbs/" %}

<div class="photo-grid">
  {% for file in site.static_files %}
    {% if file.path contains thumbnailPath %}
      {% assign imgPath = file.path | remove: "thumbs/" %}
      {% assign category = page.title | downcase %}
      <a href="{{ site.url }}/{{ imgPath }}"
        title="{{ page['captions'][category][file.name] }}">
        <div class="gallery-thumbnails"
          style="background-image: url({{ site.url }}/{{ file.path }});
          background-repeat: no-repeat;
          background-size: cover;">
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.min.js"></script>
<script>
  $(".photo-grid").magnificPopup({
    delegate: "a",
    type: "image",
    image: { titleSrc: "title" },
    gallery: { enabled: true }
  });
</script>
